
         <div class="container-fluid hero-banner">
            <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/hero-banner.jpg" class="hero-img">
            <div class="tag-container">
               <div class="tag">
                  <h1><span class="bold">Recognizing</span> Responsibility</h1>
                  <h5>EcoPractices strives to inspire and engage companies to be leaders of sustainability by promoting the use of practices and products that create positive environmental impacts.</h5>
               </div>
            </div>
            <div class="down">
               <span class="fa fa-angle-down"></span>
            </div>
         </div>

         <div class="clearfix"></div>

         <div class="container-fluid for">
          <div class="container lazy">
              <div class="col-xs-12 col-sm-6 for-ag">
               <h2><a href="for-ag.html">EcoPractices For Agriculture <span class="fa fa-angle-right"></span></a></h2>
                 <div class="bar-container">
                    <div class="left-bar"></div>
                    <div class="right-bar"></div>
                 </div>
                 <div class="tile" data-scale="1.1" data-image="images/for-ag.jpg"></div>
                 <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                 <a href="#" class="learn-link">learn more <span class="fa fa-angle-right"></span></a>
              </div>
              <div class="col-xs-12 col-sm-6 for-industry">
               <h2><a href="#">EcoPractices For Industry <span class="fa fa-angle-right"></span></a></h2>
                 <div class="bar-container">
                    <div class="left-bar"></div>
                    <div class="right-bar"></div>
                 </div>
                 <div class="tile" data-scale="1.1" data-image="images/for-industry.jpg"></div>
                 <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                 <a href="#" class="learn-link">learn more <span class="fa fa-angle-right"></span></a>
              </div>
          </div>
         </div>

         <div class="container-fluid news-container">
            <div class="container lazy">
               <div class="row">
                  <div class="col-sm-4 hidden-xs">
                     <div class="line-class"></div>
                  </div>
                  <div class="col-sm-4 text-center">
                     <h3>LATEST NEWS</h3>
                  </div>
                  <div class="col-sm-4 hidden-xs">
                     <div class="line-class"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-6">
                   <h2><a href="#">EcoPractices is now a member of the IAWA Business Council <span class="fa fa-angle-right"></span></a></h2>
                     <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                     <a href="#" class="learn-link">read more <span class="fa fa-angle-right"></span></a>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                   <h2><a href="#">EcoPractices upcoming press release with Filtrexx&trade; <span class="fa fa-angle-right"></span></a></h2>
                     <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                     <a href="#" class="learn-link">read more <span class="fa fa-angle-right"></span></a>
                  </div>
               </div>
            </div>
         </div>
          
          <div class="cotnainer-fluid about-container">
             <div class="container lazy">
                <div class="col-xs-12 col-sm-8">
                    <h2>EcoPractices collects, verifies, documents, generates environmental impacts, and may market those generated Ecotags from sustainable practices.</h2>
                    <p>EcoPractices is a private voluntary platform that may involve interested organizations to help fund the cost of sustainable best management practices while offering direct documentation and third party proof of those efforts. EcoPractices offers a variety of services and allow for white label integration for interested companies looking to build on their existing sustainanlity frameworks. Through the use of our EcoPracties &amp; Ecotags we can take steps to tackle challenges to make sustainabilty more of a reality.</p>
                    <a href="#" class="learn-link">learn more <span class="fa fa-angle-right"></span></a>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/who.png" class="img-responsive">
                </div>
             </div>
          </div>
          
          <div class="container-fluid explain-container">
            <div class="container lazy">
                <div class="col-xs-12 col-sm-6">
                    <h2>Ecotags</h2>
                    <p>An Ecotag represents a production acre that is impacted by a sustainable practice. One Ecotag is equal to one acre that is impacted by a sustainable practice.</p>
                    <p>For the Soxx&trade; practice, one foot of Soxx&trade; implemented equals one Ecotag. 1 Ecotag = 1 foot of Soxx&trade; implemented or one cubic yard of compost.</p>
                    <a href="#" class="learn-link">Learn More <span class="fa fa-angle-right"></span></a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/what-is-ecotag.png" class="img-responsive pad50">
                </div>
            </div>
          </div>

      <script>
         $('.down').click(function(){
            var win = $(window).width();
            if(win<768){
              var h = $(window).height()-50;
            }else{
              var h = $(window).height();
            }
            $('html, body').animate({scrollTop: h}, 1200);
         });

         $('.to-top').click(function(){
            var h = $(window).height();
            $('html, body').animate({scrollTop: 0}, 1200);
         });

         $(document).ready(function(){
            $(window).scroll(function(){
              if($('html, body').scrollTop()>250){
                var top=$(this).scrollTop();
                if(top<650){
                    var dif=1.5-top/350;
                    $(".tag-container").css({opacity:dif});
                }
              }else{
                $(".tag-container").css({'opacity':'1'});
              }
            });
         });
         
         $('.tile')
           // tile mouse actions
           .on('mouseover', function(){
             $(this).children('.photo').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
           })
           .on('mouseout', function(){
             $(this).children('.photo').css({'transform': 'scale(1)'});
           })
           .on('mousemove', function(e){
             $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
           })
           // tiles set up
           .each(function(){
             $(this)
               // add a photo container
               .append('<div class="photo"></div>')
               // set up a background image for each tile based on data-image attribute
               .children('.photo').css({'background-image': 'url('+ $(this).attr('data-image') +')'});
           });
       </script>