

           <div class="container-fluid sub-hero">
            <div class="container">
              <div class="col-xs-12 text-center">
                <h1>EcoPractices for Agriculture</h1>
                <h3>EcoPractices understands and agrees that decreasing greenhouse gas emissions from agriculture can only be achieved through a collaborative effort. EcoPractices has many service providers and partners working to make a positive impact on the environment.</h3>
              </div>
            </div>
           </div>

           <div class="container-fluid vid-container lazy">
            <div class="container">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="vid-box">
                  <div class="top-border">
                    <div class="left-border"></div>
                    <div class="right-border"></div>
                  </div>
                  <div class="video">
                    <div class="play-container">
                      <div class="play-btn"><span class="fa fa-play-circle"></span> play video</div>
                    </div>
                    <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/video.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="cotnainer-fluid about-container">
             <div class="container lazy">
                <div class="col-xs-12 col-md-8">
                    <h2>EcoPractices collects, verifies, documents, generates environmental impacts, and may market those generated Ecotags from sustainable practices.</h2>
                    <p>EcoPractices is a private voluntary platform that may involve interested organizations to help fund the cost of sustainable best management practices while offering direct documentation and third party proof of those efforts. EcoPractices offers a variety of services and allow for white label integration for interested companies looking to build on their existing sustainanlity frameworks. Through the use of our EcoPracties &amp; Ecotags we can take steps to tackle challenges to make sustainabilty more of a reality.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/hands.jpg" class="img-responsive">
                </div>
             </div>
          </div>

          <div class="container-fluid sub-sections light lazy">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <h2><a href="#">Services <span class="fa fa-angle-right"></span></a></h2>
                  <div class="top-border">
                    <div class="left-border"></div>
                    <div class="right-border"></div>
                  </div>
                  <div>
                    <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/handshake.jpg" class="img-responsive">
                  </div>
                  <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                  <p><a href="#">learn more <span class="fa fa-angle-right"></span></a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <h2><a href="#">Verification <span class="fa fa-angle-right"></span></a></h2>
                  <div class="top-border">
                    <div class="left-border"></div>
                    <div class="right-border"></div>
                  </div>
                  <div>
                    <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/camera.jpg" class="img-responsive">
                  </div>
                  <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                  <p><a href="#">learn more <span class="fa fa-angle-right"></span></a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <h2><a href="#">Practice Solutions <span class="fa fa-angle-right"></span></a></h2>
                  <div class="top-border">
                    <div class="left-border"></div>
                    <div class="right-border"></div>
                  </div>
                  <div>
                    <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/farmer.jpg" class="img-responsive">
                  </div>
                  <p>Aliquam rhoncus interdum scelerisque. Quisque fermentum nulla ut felis convallis, eget posuere metus euismod. Phasellus vitae urna aliquam, lacinia lorem porta, commodo dolor. Etiam eu placerat felis, vel tincidunt nunc.</p>
                  <p><a href="#">learn more <span class="fa fa-angle-right"></span></a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid contact-container lazy">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h2>Contact us to learn more about EcoPractices for Agriculture</h2>
                </div>
              </div>
              <div class="row form">
                <div class="col-xs-12">
                  <form>
                    <div class="col-xs-12 col-sm-6 col-md-4 field">
                      <label for="name">Name</label><br />
                      <input type="text" name="name" class="form-field">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 field">
                      <label for="email">Email</label><br />
                      <input type="email" name="email" class="form-field">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 field">
                      <label for="phone">Phone</label><br />
                      <input type="tel" name="phone" class="form-field">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 field">
                      <label for="company">Company</label><br />
                      <input type="text" name="company" class="form-field">
                    </div>
                    <div class="col-xs-12 field">
                      <label for="message">Message</label><br />
                      <textarea name="message" rows="6"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-6 field">
                      <input type="checkbox" name="updates" id="updates" value="Yes" class="form-check"> <label for="updates"><span class="down5">Sign me up for periodic email updates</span></label>
                    </div>
                    <div class="col-xs-12 col-sm-6 field">
                      <div class="g-recaptcha right" data-sitekey="6LfutQ0UAAAAAFgasvxv03tKOMC1dQOFK7yq3qlt"></div>
                    </div>
                    <div class="col-xs-12 text-center field">
                      <input type="submit" name="submit" class="submit-btn" value="get more info">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          

        
        <div class="to-top"><span class="fa fa-angle-up"></span></div>

        <div class="video-modal">
          <div class="close-modal"><span class="fa fa-times-circle"></span></div>
          <div class="videoWrapper"></div>
        </div>
        <div class="video-modal-bg"></div>

        <script>
          $('.play-btn').click(function(){
            $('.videoWrapper').html('<iframe id="vid" width="560" height="315" src="https://www.youtube.com/embed/ordhcjKjkAY?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>');
            $('.video-modal').show();
            $('.video-modal-bg').show();
          });
          $('.close-modal').click(function(){
            $('.video-modal').hide();
            $('.video-modal-bg').hide();
          });
          $('.video-modal-bg').click(function(){
            $('.video-modal').hide();
            $('.video-modal-bg').hide();
          });
        </script>

      