

           <div class="container-fluid sub-hero">
            <div class="container">
              <div class="col-xs-12 text-center">
                <h1>Services for Agriculture</h1>
                <h3>EcoPractices is committed to a consistent and transparent process. Our service offering listed here can be built into a tailored package for you to meet your specific needs following a discovery meeting. Contact us to learn more.</h3>
              </div>
            </div>
           </div>

           <div class="container-fluid about-container">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Third Party Verification Process <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices provides a multi-party verification process that provides auditable proof of implementation or installment.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Independent Financial Processing <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices provides an independent financial confirmation process.</p>
                      <p>An Escrow account has been established for accounting processes that account allows for supervision and funding holds until all verification processes have been completed and approved. Then upon release funds can be directed to the party allocated. There are different financial flow situations depending on practices implemented and the desires of the parties involved.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Widely Accepted Practice Solutions <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices has a library of sustainable practices available that are government and/or university supported.</p>
                      <p>New practices of interest can be developed and integrated into the EcoPractices platform with the assistance of AgSolver’s scientific and software support.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Generate Measurable Environmental Impacts <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices generates measureable environmental impacts to a field specific level with the assistance of service providers and other industry experts to obtain the most precise impacts to a specific location of implementation or installation. </p>
                      <p>Some of the values EcoPractices is able to estimate include, but are not limited to; greenhouse gas reductions, soil loss reduced, and amount of nitrogen fertilizer loss reduced due to less leaching. EcoPractices presents raw results and then interprets those impacts to the general public in a friendly format with the help of publications from government and or university research.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Produces Ecotags Attributed to Conservation Practices <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices produces Ecotags attributed to the measurable environmental impacts of a practice that also provides a brief educational explanation of the practice and its environmental benefits attributed referenced to widely accepted sources.</p>
                      <p>Upon completion of the verification process and approval by SP employees, EcoPractices platform will then assign the Ecotag to practice along with the environmental impact values.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">May Provide Financial Incentives to Producers <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices produces Ecotags attributed to each conservation practice available from producers that may be marketed to provide a financial incentive to producers to make it feasible to implement conservation practices while offering a buyer those Ecotags to reduce their negative environmental impact.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Collection, Documentation, &amp; Storage <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices is dedicated to ensuring a trustworthy process for producers, clients, corporations, and other entities to assist collaborative sustainable efforts to achieve common goals.</p>
                      <p>EcoPractices has created a database used for uploading and storing information. EcoPractices process involves a numbering system that links to all documentation involved for the practices associated with each Ecotag. A complete paper trail is created in case of audit or if issues arise where it is needed to present the company’s voluntary environment progress to a governmental agency.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Scientific Support from Industry Expertise <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices has a consortium of scientific support for EcoPractices process and industry expertise for sustainable practices and products available.</p>
                      <p>EcoPractices also provides a Precision Business Plan through our service provider AgSolver that is provided along with the reporting process.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">Marketing Tool Kit &amp; Specialized Marketing <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices provides associated specialized packages called Marketing Tool Kits could be available to a producer or included with a buyers Ecotag purchase.</p>
                      <p>The Marketing Tool Kit includes six main components; proof of purchase, social media posts, press release documents, an image library, logo &amp; certification symbol use, and customization needs. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 lazy">
                  <div class="drawer-container">
                    <h3 class="show-drawer">White Label Integration Options <span class="fa fa-angle-down"></span></h3>
                    <div class="drawer">
                      <p>EcoPractices platform can be integrated into an already existing sustainable framework to achieve higher adoption levels of sustainable practices and increase a buyer’s attention to drive environmental involvement.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            $('.drawer-container').click(function(){
              var drawer = $(this).find('.drawer');
              drawer.slideToggle();
              $('.drawer').not(drawer).slideUp();
            });
          </script>
        <div class="to-top"><span class="fa fa-angle-up"></span></div>