          <div class="footer">
            <div class="container-fluid top-foot">
              <div class="container lazy">
                  <div class="row social">
                      <div class="col-xs-12 text-center">
                          <span class="fa fa-linkedin-square"></span><span class="fa fa-youtube-play"></span>
                      </div>
                  </div>  
                  <div class="row links">
                      <div class="col-xs-12 col-sm-3">
                          <div class="section-head">
                            <a href="/agriculture">for agriculture</a>
                          </div>
                          <div class="foot-links">
                              <ul>
                                  <li><a href="#">services</a></li>
                                  <li><a href="#">verification</a></li>
                                  <li><a href="#">practice solutions</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                          <div class="section-head">
                            <a href="#">for industry</a>
                          </div>
                          <div class="foot-links">
                              <ul>
                                  <li><a href="#">services</a></li>
                                  <li><a href="#">flitrexx&trade; soxx&trade;</a></li>
                                  <li><a href="#">verification</a></li>
                                  <li><a href="#">product solutions</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                          <div class="section-head">
                            <a href="#">who we are</a>
                          </div>
                          <div class="foot-links">
                              <ul>
                                  <li><a href="#">our story</a></li>
                                  <li><a href="#">sustainability platform</a></li>
                                  <li><a href="#">team</a></li>
                                  <li><a href="#">partners</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                          <div class="section-head">
                            <a href="#">ecotags</a><br />
                            <a href="#">contact us</a>
                          </div>
                          <br />
                          <div class="foot-links">
                              <ul>
                                  <li><a href="#">linkedin</a></li>
                                  <li><a href="#">youtube</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="row member-of">
                    <div class="col-xs-12 text-center member">
                      ecopractices is a member of
                    </div>
                    <div class="col-xs-12 text-center logos">
                      <div class="logo-cotnainer">
                        <a href="http://www.iowaagwateralliance.com/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/iswa.png" class="img-responsive f-logo"></a> <a href="http://compostingcouncil.org/" target="_blank"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/ucc.png" class="img-responsive f-logo last"></a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="container-fluid bottom-foot">
              <div class="container">
                <div class="col-xs-12 col-sm-5">
                  <a href="#"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/logo-2.png" class="img-responsive"></a>
                </div>
                <div class="col-xs-12 col-sm-7 text-right bottom-right">
                  <div class="col-xs-12 hidden-xs text-right copy">
                    &copy; Sustainability Partners, All Rights Reserved
                  </div>
                  <div class="col-xs-12 hidden-xs text-right">
                    <a href="#" class="bottom-foot-link">Privacy Policy</a>
                    <a href="#" class="bottom-foot-link last">Terms of Use</a>
                  </div>
                  <div class="col-xs-12 visible-xs text-center">
                    <a href="#" class="bottom-foot-link">Privacy Policy</a>
                    <a href="#" class="bottom-foot-link last">Terms of Use</a>
                  </div>
                  <div class="col-xs-12 visible-xs text-center copy">
                    &copy; Sustainability Partners, All Rights Reserved
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="to-top"><span class="fa fa-angle-up"></span></div>
      </div>
      <%= render "includes/footerscript" %>
    </body>
  </html>