
        <div class="mobi-nav-container">
          <ul>
            <li class="fora"><span class="link-double">for agriculture</span> <span class="fa fa-angle-down"></span><span class="fa fa-angle-up"></span></li>
            <div class="mobi-sub" id="fora">
              <ul>
                <a href="/agriculture/services"><li>services</li></a>
                <a href="/agriculture/verification"><li>verification</li></a>
                <a href="/agriculture/practice-solutions"><li>practice solutions</li></a>
              </ul>
            </div>
            <li class="fori"><span class="link-double">for industry</span> <span class="fa fa-angle-down"></span><span class="fa fa-angle-up"></span></li>
            <div class="mobi-sub" id="fori">
              <ul>
                <a href="/industry/services"><li>services</li></a>
                <!-- <a href="/industry/filtrexx-soxx"><li>filtrexx&trade; Soxx&trade;</li></a> -->
                <a href="/industry/verification"><li>verification</li></a>
                <a href="/industry/product-solutions"><li>practice solutions</li></a>
              </ul>
            </div>
            <li class="forw"><span class="link-double">who we are</span> <span class="fa fa-angle-down"></span><span class="fa fa-angle-up"></span></li>
            <div class="mobi-sub" id="forw">
              <ul>
                <a href="/who-we-are/sustainability-platform"><li>Sustainability Platform</li></a>
                <a href="/who-we-are/team"><li>Team</li></a>
                <a href="/who-we-are/partners"><li>partners</li></a>
              </ul>
            </div>
            <a href="/ecotags"><li>ecotags</li></a>
            <a href="/contact"><li>contact us</li></a>
          </ul>
          <script>
            $('.fora').click(function(){
              var linked = $(this).find('.link-double');
              linked.html('<a href="/agriculture">for agriculture</a>');
              $('#fora').slideToggle(500);
              $(this).find('.fa-angle-down').toggle();
              $(this).find('.fa-angle-up').toggle();
            });
            $('.fori').click(function(){
              var linked = $(this).find('.link-double');
              linked.html('<a href="/industry">for industry</a>');
              $('#fori').slideToggle(500);
              $(this).find('.fa-angle-down').toggle();
              $(this).find('.fa-angle-up').toggle();
            });
            $('.forw').click(function(){
              var linked = $(this).find('.link-double');
              linked.html('<a href="/who-we-are">who we are</a>');
              $('#forw').slideToggle(500);
              $(this).find('.fa-angle-down').toggle();
              $(this).find('.fa-angle-up').toggle();
            });
          </script>
        </div>
         <div class="nav-container navGrow">
            <div class="col-xs-9 col-sm-6 col-md-4 logo-container">
              <a href="/"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/logo.png" class="img-responsive logo logoGrow" alt="EcoPractices Logo"></a>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-8 link-container linkGrow linksDown">
               <ul class="nav">
                 <li><a href="/agriculture">for agriculture</a>
                    <div class="sub-nav">
                       <ul>
                          <li class="first"><a href="/agriculture/services">services</a></li>
                          <li><a href="/agriculture/verification">verification</a></li>
                          <li><a href="/agriculture/practice-solutions">practice solutions</a></li>
                       </ul>
                    </div>
                 </li>
                 
                 <li><a href="/industry">for industry</a>
                    <div class="sub-nav">
                       <ul>
                          <li class="first"><a href="/industry/services">Services</a></li>
                          <!-- <li><a href="/industry/filtrexx-soxx">Filtrexx&trade; Soxx&trade;</a></li> -->
                          <li><a href="/industry/verification">Verification</a></li>
                          <li><a href="/industry/product-solutions">Product Solutions</a></li>
                       </ul>
                    </div>
                  </li>
                 <li><a href="/who-we-are">who we are</a>
                    <div class="sub-nav">
                       <ul>
                          <li class="first"><a href="/who-we-are/our-story">Our Story</a></li>
                          <li><a href="/who-we-are/sustainability-platform">Sustainability Platform</a></li>
                          <li><a href="/who-we-are/team">Team</a></li>
                          <li><a href="/who-we-are/partners">Partners</a></li>
                       </ul>
                    </div>
                  </li>
                 <li><a href="/ecotags">ecotags</a></li>
                 <li><a href="/contact">contact us</a></li>
               </ul>
               <div class="visible-sm visible-xs text-right">
                <div class="mobi-nav-bars"><span class="fa fa-bars"></span></div>
                <div class="mobi-nav-times"><span class="fa fa-times"></span></div>
               </div>
            </div>
         </div>