@pn: "proxima-nova",sans-serif;
@pnc: "proxima-nova-condensed",sans-serif;



.wrapper{
   position: absolute;
   height: auto;
   width: 100%;
   overflow: hidden;
}
p{
   color: #4a5454;
   font-size: 20px;
   line-height: 30px;
   font-family: @pn;
}
h2{
   color: #008ed3;
   font-family: @pnc;
   font-size: 36px;
}
h3{
   font-family: @pn;
   font-size: 24px;
   line-height: 24px;
}
a{
   color: #008ed3;
   &:hover{
    color: #008ed3;
   }
}
.to-top{
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 35px;
  width: 35px;
  background: url(img/to-top.png) no-repeat;
  color: #FFF;
  font-size: 40px;
  z-index: 99 !important;
  text-align: center;
  opacity: .5;
  display: none;
  .fa{
    position: relative;
    top: -13px;
  }
  &:hover{
    cursor: pointer;
    opacity: 1;
    transition: .5s;
  }
}
.lazy{
  opacity: 0;
}
 .mobi-nav-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999 !important;
  height: 100vh;
  width: 100vw;
  background: #FFF;
  padding: 110px 15px 15px 15px;
  display: none;
  ul{
    list-style: none;
    padding:0;
    li{
      height: 60px;
      font-family: @pnc;
      font-size: 20px;
      color: #008ed3;
      text-transform: uppercase;
      padding-top: 15px;
      border-top: 1px solid #b9c7c7;
    }
  }
  .mobi-sub{
    display: none;
  }
  .fa{
    float: right;
    margin-right: 25px;
    font-size: 26px;
  }
  .fa-angle-up{
    display: none;
  }
 }

.navGrow{
   //height: 110px;
   -webkit-animation: .5s ease-in-out forwards navGrow;
   animation: .5s ease-in-out forwards navGrow;
   -moz-animation: .5s ease-in-out forwards navGrow;
}
.navShrink{
  border-bottom: 1px solid #CCC;
   -webkit-animation: .5s ease-in-out forwards navShrink;
   animation: .5s ease-in-out forwards navShrink;
   -moz-animation: .5s ease-in-out forwards navShrink;
}

@keyframes navGrow {
     0% {
         height: 75px;
     }
     100% {
         height: 110px;
     }
 }
@keyframes navShrink {
     0% {
         height: 110px;
     }
     100% {
         height: 75px;
     }
 }
.nav-container{
   position: fixed;
   display: block;
   top: 0;
   width: 1200px;
   margin-left: 50%;
   left: -600px;
   background: #FFF;
   border-top: 5px solid #008ed3;
   z-index: 1000 !important;
   @media(max-width:1199px){
    width: 100%;
    left: 0;
    margin-left: 0;
   }
   .logo-container{
      padding-top: 25px;
      padding-left: 35px;
      @media(min-width:768px) and (max-width:991px){
        padding-left: 10px;
      }
      @media(max-width:767px){
        padding-left: 10px;
        padding-top: 35px;
      }
      .logo{
         position: relative;
         top: 0;
         width: auto;
      }
      .logoShrink{
         -webkit-animation: .5s ease-in-out forwards logoShrink;
         animation: .5s ease-in-out forwards logoShrink;
         -moz-animation: .5s ease-in-out forwards logoShrink;
      }
      .logoGrow{
         -webkit-animation: .5s ease-in-out forwards logoGrow;
         animation: .5s ease-in-out forwards logoGrow;
         -moz-animation: .5s ease-in-out forwards logoGrow;
      }
   }

   @keyframes logoShrink {
        0% {
            width: 300px;
            height: auto;
        }
        100% {
            width: 270px;
            height: auto;
            top: -13px;
        }
    }
   @keyframes logoGrow {
        0% {
            width: 270px;
            height: auto;
            top: -13px;
        }
        100% {
            width: 300px;
            height: auto;
            top: 0;
        }
    }
   .link-container{
      text-transform: uppercase;
      border-left: 1px solid #ccc;
      margin-top: 20px;

        .nav{
          position: relative;
          top: -20px;
            list-style:none;
            padding:0;
            font-size: 16px;
            font-family: @pnc;
            letter-spacing: .025em;
            @media(min-width:992px) and (max-width:1199px){
                font-size: 14px;
                //padding: 40px 0 0 0;
                float: right;
            }
            @media(min-width:1px) and (max-width:991px){
                display: none;
            }
            a{
                color: #6c7a7a;
                text-transform: uppercase;
                text-decoration: none;
                @media(min-width:992px) and (max-width:1199px){
                    padding: 7px;
                }
                &:hover{
                    color: #008ed3;
                    background: #e1eded;
                }
            }
            li{
                display: inline-block;
                position: relative;
                padding:0 1px;
                &:hover{
                    background: #e1eded;
                    a{
                        color: #008ed3;
                    }
                    .sub-nav{
                        display: block;
                    }
                    .sub-nav-last{
                        display: block;
                    }
                }
                .sub-nav{
                    height: auto;
                    width: 250px;
                    position: absolute;
                    background: #e1eded;
                    border-top: 5px solid #008ed3;
                    padding-top: 0;
                    left: 0;
                    display: none;
                    z-index: 3 !important;
                    ul{
                        padding:0;
                        a{
                            color: #6e6766;
                            &:hover{
                                background-color: transparent;
                                text-decoration: none;
                                color: #008ed3;
                            }
                        }
                        li{
                            display: block;
                            border-top:1px solid #aba89f;
                            padding: 10px;
                        }
                        .first{
                            border-top: none;
                        }
                    }
                }
                .sub-nav-last{
                    height: auto;
                    width: 280px;
                    position: absolute;
                    background: #e1eded;
                    border-top: 5px solid #008ed3;
                    padding-top: 0;
                    right: 0;
                    display: none;
                    z-index: 3 !important;
                    ul{
                        padding:0;
                        a{
                            color: #6e6766;
                            &:hover{
                                background-color: transparent;
                                text-decoration: none;
                                color: #008ed3;
                            }
                        }
                        li{
                            display: block;
                            border-top:1px solid #aba89f;
                            padding: 10px;
                        }
                        .first{
                            border-top: none;
                        }
                    }
                }
            }
        }
      .last{
        border: none;
      }
      .mobi-nav-bars{
        position: relative;
        top: -25px;
        font-size: 30px;
        width: 50px;
        padding-right: 10px;
        float: right;
        color: #008ed3;
        &:hover{
          cursor: pointer;
        }
      }
      .mobi-nav-times{
        position: relative;
        top: -25px;
        font-size: 30px;
        width: 50px;
        padding-right: 10px;
        float: right;
        color: #008ed3;
        display: none;
        &:hover{
          cursor: pointer;
        }
      }
   }
   .linkGrow{
      height: 60px;
       -webkit-animation: .5s ease-in-out forwards navGrow;
       animation: .5s ease-in-out forwards navGrow;
       -moz-animation: .5s ease-in-out forwards navGrow;
       transition:.75s;
    }
    .linkShrink{
      height: 30px;
       -webkit-animation: .5s ease-in-out forwards navShrink;
       animation: .5s ease-in-out forwards navShrink;
       -moz-animation: .5s ease-in-out forwards navShrink;
       transition: .75s;
    }

    @keyframes linkGrow {
         0% {
             height: 30px;
         }
         100% {
             height: 60px;
         }
     }
    @keyframes linkShrink {
         0% {
             height: 60px;
         }
         100% {
             height: 30px;
         }
     }
   .linksDown{
         -webkit-animation: .5s ease-in-out forwards linksDown;
         animation: .5s ease-in-out forwards linksDown;
         -moz-animation: .5s ease-in-out forwards linksDown;
   }
   .linksUp{
         -webkit-animation: .5s ease-in-out forwards linksUp;
         animation: .5s ease-in-out forwards linksUp;
         -moz-animation: .5s ease-in-out forwards linksUp;
   }
   @keyframes linksUp {
        0% {
            padding-top: 35px;
        }
        100% {
            padding-top: 13px;
        }
    }
   @keyframes linksDown {
        0% {
            padding-top: 13px;
        }
        100% {
            padding-top: 35px;
        }
    }
}
.learn-link{
  position: relative;
  text-decoration: underline;
  color: #008ed3;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 80px;
  font-family: @pnc;
}
.hero-banner{
   padding: 0 !important;
   position: relative;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background: #333;
    z-index: 1 !important;
   .hero-img{
      height: 100vh;
      width: auto;
      position: absolute;
      z-index: 1 !important;
      position: fixed;
   }
   .tag-container{
      width: 100%;
      height: auto;
      text-align: center;
      position: relative;
      z-index: 2 !important;
      top: 50%;
      //opacity: 1;
      transform: translateY(-50%);
      position: fixed;
      .tag{
         position: relative;
         color: #FFF;
         width: 915px;
         height: 175px;
         margin-left: auto;
         margin-right: auto;
         @media(min-width:100px) and (max-width:991px){
          width: 100%;
          height: auto;
          padding-left: 15px;
          padding-right: 15px;
         }
         h1{
            font-family: @pn;
            font-size: 68px;
            .bold{
               font-weight: bold;
            }
            @media(min-width:100px) and (max-width:991px){
              font-size: 48px;
            }
         }
         h5{
            font-family: @pnc;
            font-size: 28px;
            line-height: 32px;
         }
      }
   }
   .down{
      position: fixed;
      bottom: 120px;
      width: 100%;
      height: 1px;
      text-align: center;
      font-size: 90px;
      color: #FFF;
      z-index: 2 !important;
      -webkit-animation: 3s ease-in-out infinite upDown;
      animation: 3s ease-in-out infinite upDown;
      -moz-animation: 3s ease-in-out infinite upDown;
      &:hover{
         cursor: pointer;
      }
   }
   @keyframes upDown {
        0% {
            bottom: 125px;
            font-size: 90px;
        }
        50% {
            bottom: 90px;
            font-size: 90px;
        }
        100% {
            bottom: 125px;
            font-size: 90px;
        }
    }
}

.for{
  position: relative;
   padding-bottom: 75px;
   padding-top: 75px;
   background: #FFF;
   z-index: 10 !important;

   .tile {
      position: relative;
      width: 100%;
      height: 225px;
      overflow: hidden;
      //margin-top: 30px;
      margin-bottom: 25px;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      @media(max-width:550px){
         width: 100%;
         height: 125px;
         &:after{

         }
      }
   }
   .photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: transform .3s ease-out;
      &:hover{
         transition: transform .5s ease-in;
      }
   }
   img{
      padding-bottom: 25px;
   }
   a{
      text-transform: uppercase;
      font-family: @pnc;
      color: #008ed3;
   }
   h2{
    a{
      text-transform: capitalize;
    }
   }
   .for-ag{
   }
   .bar-container{
      position: relative;
      height: 5px;
      width: 100%;
      .left-bar{
         position: relative;
         float: left;
         height: 5px;
         width: 30%;
         background: #c0cb00;
      }
      .right-bar{
         position: relative;
         float: left;
         height: 5px;
         width: 70%;
         background: #008ed3;
      }
   }
}

.news-container{
  position: relative;
   padding-top: 75px;
   padding-bottom: 75px;
   background: #f0f5f5;
   z-index: 10 !important;
   h2{
    a{
      text-transform: none;
    }
   }
   a{
      text-transform: uppercase;
   }
   .line-class{
      position: relative;
      top: 30px;
      height: 1px;
      width: 100%;
      background: #c0cb00;
   }
   h3{
      text-transform: uppercase;
      color: #6c7a7a;
   }
}

.about-container{
    position: relative;
    background: #FFF;
    padding-top: 75px;
    padding-bottom: 75px;
    z-index: 10 !important;
    a{
        text-transform: uppercase;
        //padding-top: 55px;
    }
}

.explain-container{
  position: relative;
    background: #f0f5f5;
    padding-top: 75px;
    padding-bottom: 75px;
    z-index: 10 !important;
    p{
        padding-top: 30px;
    }
    a{
        text-transform: uppercase;
    }
}

.footer{
  position: relative;
  z-index: 10 !important;
  .top-foot{
      padding-top: 75px;
      padding-bottom: 75px;
      background: #008ed3;
      color: #FFF;
      .section-head{
        a{
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          font-family: @pn;
          line-height: 36px;
        }
      }
      .fa{
          font-size: 36px;
          margin-right: 25px;
      }
      .social{
          border-bottom:1px solid #FFF;
          padding-bottom: 35px;
      }
      .links{
        padding-top: 45px;
        padding-bottom: 45px;
        border-bottom: 1px solid #FFF;
        @media(max-width:767px){
          text-align: center;
        }
      }
      .member-of{
        padding-top: 25px;
        .member{
          font-family: @pnc;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: .025em;
          color: #FFF;
          text-transform: uppercase;
        }
        .logos{
          text-align: center;
          padding-top: 25px;
          .logo-cotnainer{
            width: 501px;
            height: auto;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            @media(max-width:767px){
              width: 100%;
            }
            .last{
              margin-right: 0 !important;
              @media(max-width:767px){
                position: relative;
                margin-top: 20px;
              }
            }
            .f-logo{
              float: left;
              margin-right: 95px;
              @media(max-width:767px){
                position: relative;
                width: 180px;
                display: block;
                margin-left: 50%;
                left: -90px;
                margin-right: 0;
              }
            }
          }
        }
      }
      ul{
        list-style: none;
        padding:0;
      }
      a{
        color: #FFF;
        font-family: @pnc;
        font-size: 16px;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: .025em;
      }
  }
  .bottom-foot{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #FFF;
    .last{
      margin-right: 0 !important;
    }
    .bottom-right{
      padding-top: 20px;
      .copy{
        color: #6c7a7a;
        font-family: @pnc;
        font-size: 16px;
        line-height: 36px;
      }
      .bottom-foot-link{
        text-transform: uppercase;
        position: relative;
        color: #008ed3;
        font-family: @pnc;
        font-size: 16px;
        line-height: 36px;
        margin-right: 35px;
        @media(max-width:767px){
          margin-right: 8px;
        }
      }
    }
  }
}

.sub-hero{
  background: url(img/sub-hero-bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 235px;
  padding-bottom: 115px;
  @media(max-width:767px){
    padding-top: 200px;
  }
  h1{
    font-family: @pn;
    font-size: 68px;
    line-height: 68px;
    color: #FFF;
    @media(max-width:767px){
      font-size: 40px;
      line-height: 40px;
    }
  }
  h3{
    font-family: @pnc;
    font-size: 32px;
    line-height: 42px;
    color: #FFF;
    @media(max-width:767px){
      font-size: 26px;
      line-height: 30px;
    }
  }
}

.vid-container{
  background: #f0f5f5;
  padding-top: 75px;
  padding-bottom: 75px;
  @media(max-width:767px){
    padding-left: 0;
    padding-right: 0;
    img{
      width: 100%;
    }
  }
  .container{
    @media(max-width:767px){
      padding-left: 0;
      padding-right: 0;
    }
    .col-xs-12{
      @media(max-width:767px){
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .vid-box{
    .top-border{
      .left-border{
        position: relative;
        width: 15%;
        height: 5px;
        float: left;
        background: #c0cb00;
      }
      .right-border{
        position: relative;
        width: 85%;
        height: 5px;
        float: left;
        background: #008ed3;
      }
    }
    .video{
      .play-container{
        position: absolute;
        height: 50px;
        width: 100%;
        margin-top: 30%;
        top: -30px;
        .play-btn{
          position: relative;
          display: block;
          height: auto;
          width: 200px;
          margin: 0 auto;
          color: #FFF;
          background: #008ed3;
          border: none;
          text-transform: uppercase;
          border-radius: 20px;
          padding: 10px 0;
          font-family: @pn;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          letter-spacing: .1em;
          transition: .75s;
          &:hover{
            background: #c0cb00;
            transition: .75s;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.sub-sections{
  padding-top: 75px;
  padding-bottom: 75px;
  h2{
    padding-bottom: 15px;
    a{
      text-transform: none;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .top-border{
    .left-border{
      position: relative;
      width: 35%;
      height: 7px;
      float: left;
      background: #c0cb00;
    }
    .right-border{
      position: relative;
      width: 65%;
      height: 7px;
      float: left;
      background: #008ed3;
    }
  }
  p{
    padding-top: 15px;
  }
  a{
    text-transform: uppercase;
    text-decoration: underline;
    font-family: @pnc;
  }
}

.contact-container{
  padding-top: 75px;
  padding-bottom: 75px;
  .container{
    @media(max-width:767px){
      padding-left: 0;
      padding-right: 0;
    }
    .col-xs-12{
      @media(max-width:767px){
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  h2{
    color: #6c7a7a;
  }
  .form{
    padding-top: 30px;
    .field{
      padding-top: 25px;
    }
    label{
      font-family: @pn;
      font-size: 13px;
      font-weight: bold;
      line-height: 30px;
      color: #6c7a7a;
      text-transform: uppercase;
    }
    textarea{
      width: 100%;
      height: 200px;
      border: 1px solid #b9c7c7;
      resize:none;
    }
    .submit-btn{
      height: auto;
      width: auto;
      color: #FFF;
      background: #008ed3;
      border: none;
      text-transform: uppercase;
      border-radius: 20px;
      padding: 10px 50px;
      font-family: @pn;
      font-size: 18px;
      letter-spacing: .1em;
      transition: .75s;
      &:hover{
        background: #c0cb00;
        transition: .75s;
      }
    }
    .form-field{
      position: relative;
      width: 100%;
      height: 40px;
      border: 1px solid #b9c7c7;
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-check{
      position: absolute; // take it out of document flow
      opacity: 0; // hide it

      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }

      // Box.
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 25px;
        height: 25px;
        background: white;
        border:1px solid #b9c7c7;
      }

      // Box hover
      &:hover + label:before {
        background: #f0f5f5;
      }

      // Box checked
      &:checked + label:before {
        background: #FFF;
        content: '\f046';
        font-family: FontAwesome;
        font-size: 30px;
        color: #008ed3;
        border:none;
        position: relative;
      }
    }
  }
}
.video-modal{
  position: fixed;
  width: 100%;
  height: 800px;
  top: 100px;
  left: 0;
  z-index: 1040 !important;
  display: none;
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    z-index: 1030 !important;
    iframe {
       position: absolute;
       top: 10%;
       left: 0;
       width: 100%;
       height: 100%;
       max-height: 768px;
       @media(max-width:992px){
          top: 25%;
       }
    }
  }
  .close-modal{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1040 !important;
    .fa{
      font-size: 40px;
      color: #FFF;
      opacity: .7;
      &:hover{
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
.video-modal-bg{
  background: url(img/to-top.png) repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1025 !important;
  display: none;
}

.light{
  background: #f0f5f5;
}

.down5{
  position: relative;
  top: 6px;
}
.pad25{
  padding-top: 25px;
}
.pad50{
  padding-top: 50px;
}
.right{
  float: right;
}